@use 'sass:map';
@use '../config' as *;
@use '../styles/helpers' as *;

/*
* container
*/
%container-default {
    position: relative;
    clear: both;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    width: var(--cus-container-default, 100%);
    max-width: var(--cus-container-default, 100%);

    @media only screen and (max-width: $media_query_smp) {
        --cus-container-default-padding: 0;
        width: var(--cus-container-default-smp, 95%);
    }
}

.container {
    @extend %container-default;

    &-full {
        @extend %container-default;
        --cus-container-default: 100%;
        --cus-container-default-smp: 100%;
    }

    &-1300 {
        --cus-container-default: 1300px;
        @extend %container-default;
    }
}


/*
* wrapper
*/
#wrapper {
    padding-top: 0;

    .home-page & {
        padding-top: 0;
    }

    @media only screen and (max-width: $media_query_smp) {
        padding-top: 0;
    }
}

a.to-top-button {
    bottom: 60px !important;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.67);
}

/*
* main_visual
*/
.main_visual {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 305px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        content: '';
    }

    h2 {
        position: relative;
        z-index: 1;
        color: #fff;
        font-weight: 500;
        text-align: center;

        ._jp {
            display: block;
            margin-bottom: 3px;
            font-size: fluid(40, 50);
            line-height: 100%;
        }

        ._en {
            display: block;
            font-size: rem(15);
            letter-spacing: 1.5px;
        }
    }

    @media only screen and (max-width: $media_query_smp) {
        margin-bottom: 60px;
        height: calc(100vw * 0.77);
        max-height: 250px;
    }
}

/*
* path
*/
#path {
    margin-bottom: 70px;
    font-size: rem(13);

    @media only screen and (max-width: $media_query_smp) {
        display: none;
    }
}

/*
* pager
*/
.pager-list {
    clear: both;
    margin: 95px auto 70px;
    width: 80%;

    .page {
        &-container {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            gap: 20px 15px;
        }

        &-numbers {
            --pager-color: #fff;
            --pager-color-border: #0A89CB;
            --pager-size: 52px;

            -webkit-transition: 0.5s;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            transition: color 0.3s ease-out;
            cursor: pointer;
            border: 2px solid var(--pager-color-border);
            border-radius: 50%;
            background-color: var(--pager-color);
            padding: 0 4px;
            width: var(--pager-size);
            height: var(--pager-size);

            font-weight: 700;
            font-size: 16px;
            text-decoration: none;

            &.current,
            &:hover:not(.dots),
            &:hover {
                --pager-color: #0A7EBA;
                color: #fff;
            }

            &.current {
                cursor: default;
            }

            &.dots {
                color: var(--pager-color);
                letter-spacing: 3px;
            }

            &.prev,
            &.next {
                border: none;
                width: auto;
                color: var(--pager-color-border);
                font-size: 20px;

                &:hover {
                    opacity: 0.8;
                    background-color: transparent;
                    color: var(--pager-color);
                }
            }
        }
    }


    @media only screen and (max-width: $media_query_smp) {
        margin: 40px auto 80px;
        width: 100%;

        .page {

            &-numbers {
                --pager-size: 50px;

                font-size: 105%;

                &.dots {
                    margin: 0;
                    width: 30px;
                }

                &.prev,
                &.next {
                    font-size: 100%;
                }
            }
        }
    }
}
