@use 'sass:map';
@use '../helpers/variables';
@use '../helpers/mixins';

.datepicker_icon {
    position: relative;

    img.ui-datepicker-trigger {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.form_page {

    ._note {
        color: #B7050E;
        font-weight: 500;
    }

    &__description {
        margin-bottom: 60px;

        &_block01 {
            margin-bottom: 70px;
            border-bottom: 1px solid #797979;
            padding-bottom: 90px;

            .title {
                --color-text-en: #BBA448;
                --color-icon: #E7DFBD;
                margin-bottom: 10px;
            }

            p {
                margin-left: 15px;
            }

            ._note {
                margin-bottom: 15px;
            }

            dl {
                display: flex;
                align-items: flex-end;
                gap: 30px 10px;
                padding-left: 10px;
                color: #BBA448;

                dt {
                    padding-left: 48px;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 100%;
                    @include mixins.background($image: 'icon-tel4.png',
                        $position: left top 12px,
                        $repeat: no-repeat);
                }

                dd {
                    font-weight: 800;
                    font-size: 17px;
                    letter-spacing: 2px;
                }
            }
        }

        &_block02 {
            p {
                margin-bottom: 20px;
                margin-left: 20px;
                line-height: 160%;
            }
        }
    }

    &__detail {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 100px;
        padding: 0 140px;
        width: 100%;

        dt,
        dd {
            position: relative;
            padding: 15px 0;
        }

        dt {
            padding-left: 45px;
            width: 275px;
            color: #434343;
            font-weight: 600;
            font-size: 17px;

            &.form_mandatory {
                --color: #DB3E51;
                --color-bg: #fff;
                --text: '必須';
            }

            &.form_any {
                --color: #7295A2;
                --color-bg: #DCECF0;
                --text: '任意';
            }

            ._title {
                display: block;
                position: relative;
                margin-top: 10px;
                width: 100%;

                &::after {
                    position: absolute;
                    top: 3px;
                    left: -45px;
                    border: 1px solid var(--color);
                    border-radius: 6px;
                    background: var(--color-bg);
                    padding: 3px 0;
                    width: 40px;
                    content: var(--text);
                    color: var(--color);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    text-align: center
                }
            }
        }

        dd {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-left: 20px;
            width: calc(100% - 275px);

            ::placeholder,
            ::-ms-input-placeholder {
                color: #9B9B9B;
                font-weight: 500;
            }

            ._note-r01 {
                padding-left: 7px;
                font-size: 15px;
            }

            ._list {
                position: relative;
                margin-top: 10px;

                .wpcf7-form-control {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 35px 50px;
                }

                &._1line {
                    .wpcf7-form-control {
                        gap: 0 0;
                    }

                    .wpcf7-list-item {
                        width: 100%;
                    }
                }
            }

            .wpcf7-list-item {
                display: block;
                margin-bottom: 8px;
                margin-left: 0;
                min-width: 85px;

                &.last {
                    // margin-bottom: 0;
                }

                &-label::before {
                    display: none;
                }

                input {
                    margin-right: 6px;
                }
            }

            .wpcf7-list-item-other {
                margin-left: 10px;

                ._note {
                    margin-right: 50px;
                }
            }

            ._fw300 {
                font-weight: 300;

                ._note {
                    font-weight: inherit;
                }
            }

            @media only screen and (min-width: $media_query_pc_only) {
                [class*="_w"] {
                    max-width: 100%;
                }

                ._wfull {
                    width: 100%;
                }

                ._w700 {
                    width: 700px;
                }

                ._w670 {
                    width: 670px;
                }

                ._w615 {
                    width: 615px;
                }

                ._w335 {
                    width: 335px;
                }

                ._w290 {
                    width: 290px;
                }

                ._w275 {
                    width: 275px;
                }

                ._w270 {
                    width: 270px;
                }

                ._w255 {
                    width: 255px;
                }

                ._w215 {
                    width: 215px;
                }

                ._w185 {
                    width: 185px;
                }

                ._w145 {
                    width: 145px;
                }

                ._h75 {
                    height: 75px
                }
            }
        }

        .form {
            &_group {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 30px;
                width: 100%;
            }

            &_input,
            &_textarea,
            &_select {
                outline: none;
                border: 1px solid #D3D3D3;
                background: #fff;
                width: 100%;
                max-width: 580px;
                height: 40px;
            }

            &_select,
            &_textarea {
                text-indent: 1em;
            }

            &_select {
                appearance: none;
                color: #959595;
            }

            &_textarea {
                padding: 9px 0;
                height: 145px;
                resize: vertical;

                &::placeholder {
                    line-height: 170%;
                }
            }

            &_select_group {
                position: relative;

                ._title {
                    position: absolute;
                    top: 6px;
                    right: 30px;
                    color: #666;
                    font-size: 12px;
                }

                ._i {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    border-top: 5px solid #12901B;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    width: 5px;
                    width: 0;
                    height: 13px;
                    height: 0;
                }
            }

            &_layout {
                &__2col {
                    .wpcf7-form-control-wrap {
                        margin-right: 30px;
                    }
                }

                &__3col {
                    .form_select_group {
                        margin-right: 20px;
                    }
                }

                &__birthday {
                    display: flex;
                    column-gap: 12px;
                    align-items: center;

                    .form_select_group {
                        width: 96px;
                    }

                    ._unit {
                        margin-right: 4px;
                    }
                }

                &__address {
                    display: flex;
                    row-gap: 15px;
                    flex-wrap: wrap;
                    width: 100%;
                    max-width: 460px;

                    ._item {
                        &_row {
                            display: flex;
                            column-gap: 15px;
                            align-items: center;
                            width: 100%;
                        }

                        &_name {
                            width: 75px;
                        }

                        &_value {
                            width: auto;
                        }
                    }
                }
            }

            &_privacy {
                margin-bottom: 30px;
                background-color: #F7F7F7;
                padding: 35px 15px 35px 55px;
                color: #767676;
                font-weight: 500;
                font-size: 15px;

                h3,
                p {
                    margin-bottom: 20px;
                    font-weight: inherit;
                    font-size: inherit;
                    line-height: 140%;
                }

                h3 {
                    font-size: 16px;
                }

                &__scroll {
                    padding-right: 40px;
                    height: 150px;
                    overflow-y: auto;
                }
            }

            &_acceptance {
                margin-bottom: 30px;
                width: 100%;
                text-align: center;

                p {
                    margin-bottom: 20px;

                    &:first-child {
                        color: #6B6B6B;
                        line-height: 130%;
                    }

                    &:last-child {
                        font-size: 17px;
                    }
                }

                span {
                    display: inline-block !important;
                    width: auto !important;
                }

                .wpcf7-acceptance {
                    margin-right: 15px;
                }
            }

            &_btn {
                --btn-width: 100%;
                --btn-height: 76px;
                --btn-color-text: #fff;
                --btn-font-size: 19px;
                --btn-color-bg: #DB3E51;
                --btn-color-bg-hover: #DB3E51;
                --btn-color-border: #DB3E51;

                min-width: 0;

                &._disabled {
                    --btn-color-bg: #DEDEDE;
                    --btn-color-bg-hover: #DEDEDE;
                    --btn-color-border: #DEDEDE;

                    &:hover::after {
                        right: 19px;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                    }
                }

                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    outline: none;
                    border: none;
                    background: none;
                    width: 100%;
                    height: 100%;
                    color: inherit;

                    &:disabled {
                        cursor: not-allowed;
                    }
                }

                &_group {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 550px;

                    li:first-child:nth-last-child(1) {
                        width: 100%;
                        max-width: 365px;
                    }

                    li:first-child:nth-last-child(2),
                    li:first-child:nth-last-child(2)~li {
                        margin: 0 2%;
                        width: 48%;
                        max-width: 260px;
                    }

                    @media only screen and (max-width: $media_query_smp) {
                        flex-wrap: wrap;

                        li {
                            margin: 0 !important;
                            margin-bottom: 20px !important;
                            width: 100% !important;
                            max-width: 100% !important;
                        }
                    }
                }
            }
        }

        ._questionnaire {
            &._confirm_title {
                margin: 50px 0 20px;
                font-size: 20px;
            }

            &.form_group {

                dt,
                dd {
                    padding: 10px 0 0 45px;
                    width: 100%;
                }

                dd {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.form_page_confirm {
    ._confirm_title {
        margin-bottom: 50px;
    }

    .form_btn_group {
        margin-top: 70px;

        .form_btn.btn-button {
            --btn-color-bg: #ccc;
            --btn-color-bg-hover: #ccc;
            --btn-color-border: #ccc;
            cursor: pointer;
        }
    }
}

.form_page_thanks {
    margin: 100px auto;
    width: 100%;
    max-width: 500px;
    text-align: center;

    ._title {
        margin-bottom: 20px;
        font-size: 20px;
    }

    ._link {
        margin-top: 20px;

        a {
            @include a-hover-line();
        }
    }

    .container {
        border: 2px solid #ccc;
        padding: 40px 20px;
        width: 100%;

        a {
            color: #1F8657;
        }

        @media only screen and (max-width: $media_query_smp) {
            margin: 0 auto;
            border: 2px solid #ccc;
            padding: 40px 5%;
            width: 90%;
        }
    }
}


@media only screen and (max-width: $media_query_smp) {
    .form_page {

        .wpcf7-form {
            overflow-x: hidden;
        }

        &__description {

            &_block01 {
                padding-bottom: 60px;

                p {
                    margin-left: 0;
                }

                ._note {
                    margin-bottom: 35px;
                }

                dl {
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 15px 0;
                    padding-left: 0;

                    dt,
                    dd {
                        width: 100%;
                    }

                    dt {
                        background-position: left top 8px;
                        background-size: 35px auto;
                        padding-left: 40px;
                        font-size: 42px;
                    }

                    dd {
                        font-size: 16px;
                        letter-spacing: 0;
                        text-align: center;
                    }
                }
            }

            &_block02 {
                p {
                    margin-bottom: 30px;
                    margin-left: 0;
                }
            }
        }

        &__detail {
            padding: 0;

            dt,
            dd {
                padding-top: 0;
                width: 100% !important;
            }

            dt {
                padding-bottom: 15px;
                padding-left: 0;
                font-size: 105%;

                ._title {
                    margin-top: 0;

                    &::after {
                        position: absolute;
                        top: 2px;
                        left: 0;
                        padding: 3px 0 5px;
                        width: 45px;
                    }
                }

                &.form_mandatory {
                    ._title {
                        padding-top: 30px;
                    }
                }
            }

            dd {
                padding-bottom: 40px;
                padding-left: 0;

                ._note-r01 {
                    padding-top: 10px;
                    padding-left: 15px;
                }

                ._list {
                    margin-top: 0;
                    margin-left: 15px;

                    .wpcf7-form-control {
                        gap: 0 0;
                        width: 100%;
                    }
                }

                .wpcf7-list-item {
                    margin-bottom: 15px;
                    min-width: 100%;
                }
            }

            .form {

                &_input,
                &_textarea,
                &_select {
                    height: 60px;
                }

                &_textarea {
                    height: 300px;

                    &._h75 {
                        height: 150px;
                    }
                }

                &_layout {
                    &__birthday {
                        width: 100%;

                        .form_select_group {
                            width: 96px;

                            .form_select {
                                text-indent: 5px;
                            }
                        }
                    }

                    &__address {
                        width: 100%;

                        ._item {

                            &_value {
                                width: calc(100% - 90px);
                            }
                        }
                    }
                }

                &_privacy {
                    margin-bottom: 40px;
                    padding: 20px 10px 25px 15px;

                    &__scroll {
                        padding-right: 20px;
                        height: 280px;
                    }
                }

                &_acceptance {
                    p {

                        &:first-child {
                            font-size: 90%;
                        }

                        &:last-child {
                            margin-bottom: 0;
                            font-size: 105%;
                        }
                    }
                }

                &_btn {
                    --btn-height: 90px;
                }
            }
        }
    }

    .form_page_confirm {
        ._confirm_title {
            margin-bottom: 20px;
            width: 100%;
        }

        dt,
        dd {
            width: 100%;
        }

        dt {
            padding-top: 25px;
        }

        dd {
            padding-bottom: 25px;
        }

        .form_btn .btn {
            --btn-font-size: 100%;
        }
    }
}