@use 'helpers/variables';
@use 'helpers/mixins';

/* font */
.f_mplus1p {
    font-style: normal;
    font-weight: 500;
    font-family: var(--cus-font-mplus1p);
}

%f_mplus1p{
    @extend .f_mplus1p;
}