@use 'sass:map';

:root {
    /*
    * BREAKPOINT DEVICE
    */
    --cus-grid-breakpoints-smp: 768px;

    /*
    * FONTS
    */
    --cus-font-family-base: "noto-sans-cjk-jp", sans-serif;
    --cus-font-weight-base: 400;
    --cus-font-style-base: normal;
    --cus-font-size-base: 15px;
    --cus-font-size-smp-base: 100%;

    --cus-font-family-title: 'Noto Serif JP', sans-serif;
    --cus-font-weight-title: 500;

    /*
    * LINE-HEIGHT
    */
    --cus-line-height-base: 1.5;

    /*
    * COLORS
    */
    --cus-text-color-base: #3B3936;

    /*
    * CONTAINER WIDTH
    */
    --cus-container-default: 1200px;
    --cus-container-default-smp: 90%;
    --cus-container-default-padding: 0;

    /*
    * EFFECTS
    */
    --cus-transition-speed: 0.5s;
}



/*
 * BREAKPOINT VAR SCSS
 */

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    smp: 768px) !default;

$media_query_pc_only: map.get($grid-breakpoints, 'smp') + 1;
$media_query_smp: map.get($grid-breakpoints, 'smp');
