/* css for PC */

@media only screen and (min-width: 769px) {

    .wp-block.wp-block-post-title {
        font-size: 40px !important;
    }

    .wp-block.block-library-html__edit.wp-block-html {
        max-width: 900px;
    }

    .wp-block.block-library-html__edit.wp-block-html textarea.block-editor-plain-text {
        max-height: 100%;
        resize: auto !important;
    }
}


@media only screen and (max-width: 768px) {
    /* css for SMP */


}