extends _templates/default
include _helpers/mixins

block variables
	-title = 'ページタイトル'

block container

	+main_title(title, 'Title English')

	.container
		button.glow-on-hover(type="button") HOVER ME, THEN CLICK ME! 