extends _templates/default
include _helpers/mixins

block variables
	-title = 'Subpage'		// change page title
	-bodyClass = ''			// specify class name of page
	-description = ''		// page description
	-keywords = ''			// page keywords
	-author = ''			// page author
	-copyright = ''			// page copyright

block container
	//- your content here